ul{
    list-style-type: none;
    background-color: #7777ff;
    word-spacing: 20px;
    padding: 10px;
}

li{
    display: inline-block;
}

li a{
    color: #000000;
    text-decoration: none;
}

li a:hover{
    background-color: #ffffff;
    color: #ff0000;
}